@model IEnumerable<big_foot.Data.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>ОБУВКИ</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
</p>}
<div class="conteiner">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <br>
                <div class="card " style="width: 18rem;">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageURL)" height="100%">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">Категория: @Html.DisplayFor(modelItem => item.Categories.Name)</p>
                        <p class="card-text">Пол: @Html.DisplayFor(modelItem => item.Gender)</p>
                        <p class="card-text">Описание: @Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text">Размер: @Html.DisplayFor(modelItem => item.Size)</p>
                        <p class="card-subtitle">@Html.DisplayFor(modelItem => item.Price)лв</p>
                        <form method="post" asp-controller="Orders" asp-action="CreateWithProductId" asp-route-productId="@item.Id">
                            <input class="btn btn-primary" type="submit" value="Купи" />
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                            else
                            {
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            }
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
